body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background: #F6F7EB;
}

ul {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #343434;
    --main: #fff;
    --accent: #ffc759
}